
/*********************************************************BODY OF SECTIONS***********************************/



//Width and height
$maxWidth: 70%;
$navHeight: 107px;
$viewportHeight: 85vh;
$imgsize: calc(100vw / 10);
$tablet-width: 1024px;
$resize:1500px;


.footerSection{
    border-style: solid;
    border-color: rgb(10, 7, 211);
    border-width: 5px;
    background-color: rgba(0, 0, 0, 0);
    position: relative;
    top: -95vh;
}

.breakServices{
    border-style: solid;
    border-color: rgb(10, 7, 211);
    border-width: 5px;
    height: 20vh;
}
.wrapper4{
    background-color: black!important;
    overflow: hidden;
    
}
//BODY OF SECTIONS
.body{
    //display: table-cell;
    background-color: rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-color: rgb(219, 16, 16);
    border-width: 5px;
    position:relative;
    top: -95vh;
    right: 0px;
    left: 0px;
    overflow: hidden;
}


/*********************************************FIRST SECTION*********************************************/
//FIRST SECTION
.firstServicesSection{
    background-image: url("../svg/logoOnlyBlue.svg");
    background-repeat: no-repeat!important;
    background-size: 210%;
    background-position-y: 45%!important;
    background-position: 150%;
    height: auto;
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 5px;
    display: table-cell;
    width: 100vw;
    @media(max-width: $resize){
        
    }
        .firstTitleBox{
        position: relative;
        text-align: center;
        padding-top: 10vh;
        padding-bottom: 10vh;
        }
            .firstTitleBoxText{
                font-size: 4rem;
                font-weight: bold;

                @media (max-width:$resize){
                    font-size:3rem
                }
            }
        .firstSection1{
            width: 100vw;
            position: relative;
            display: table-cell;
            position: relative;
        }
            .flexBox1{
                flex-direction: row;
                display: flex;
                @media(max-width: $resize){
                    flex-wrap: wrap;
                    justify-content: right;
                }
                              
            }  
                .firstTextServices{
                    color: black;
                    font-weight: 500;
                    padding-left:12vw;
                    padding-right:5vw;
                    text-align: left;
                }
                    .textFS{
                        font-size: 5rem;
                        @media (max-width: 1500px) and (min-width: 1300px) {
                            font-size:4rem

                        }

                        @media (max-width: 1300px) {
                            font-size:3rem

                        }
                    }
                .flexBox1_1{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                    padding-right: 11vw;
                    padding-bottom: 2vh;
                }
                .flexBox1_2{
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }        
}
//---Global Style-------
.littleImg{
    width: $imgsize;
    height: $imgsize;
}
//-----------------------
.firstSection1images{
    width: 55vw;
    
    .emptySpace{
        width: $imgsize;
        height: $imgsize;
        opacity: 0;}
}
.flexBox_1_2_0{
    display: flex;
    flex-direction: row;
    border: 5px dotted red;
    @media(max-width: $resize){
        flex-wrap: wrap-reverse;
        @media(max-width: $resize){
           justify-content: right;
        }
    }

}

.flexBox_1_2_1{
    position: relative;
    left: 5vw;
    top: -8vh;
    padding-top: 20vh;
    border: 6px dotted yellow;
    width: 40vw;
    @media(max-width: $resize){
        position: inherit;
        padding-top: 0vh;
        width: auto;
        padding-bottom: 10vh;
        
    }
    

}
.flexBox_1_2_1Title{
    position: relative;
    right: 3vw;
    color: black;
    border: 5px dotted green;
    font-size: 6rem;
    font-weight: bold;
    position: relative;
    width: 30vw;
    text-align: center;
    @media(max-width: $resize){
        text-align: left;
        position: inherit;
        padding-top: 0vh;
        width: auto;
        margin-left:4vw ;
    }
}
.flexBox_1_2_1P{
    position: relative;
    left: 8vw;
    font-size: 2rem;
    @media(max-width: $resize){
        text-align: left;
        position: inherit;
        padding-top: 0vh;
        width: auto;
        margin-left:4vw ;
    }

}
.flexBox_1_2_2{
    display: flex;
    flex-direction: row;
    border: 5px dotted rgb(55, 245, 21); 
    width: 57vw;
    margin-left: 10%;
    position: relative;
    top: -10vh;
    @media(max-width: $resize){
        top: 0vh;
        position: inherit;
        width: 55vw;
    }    
}
.img_1_2_2_0{
}
.img_1_2_2_1{
    width: calc(#{$imgsize}*4);
    height: calc(#{$imgsize}*4);
    

}


/**************************************************SECOND SECTION******************************************/


//SECOND SECTION
.servicesSecondSection{
    
    background-image: url("../svg/logoOnlyYellow.svg");
    background-repeat: no-repeat!important;
    background-size: 215%;
    background-position-y: 40%!important;
    background-position: -21%;
    width: 100vw;
    height: auto;
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}



.flexBox_2{
    padding-bottom: 30vh;
    padding-top: 8vh;
    border: 5px dashed green;
    display: flex;
    flex-direction: row-reverse;
    
    @media(max-width: $resize){
        flex-wrap: wrap-reverse;
        justify-content: left;
        padding-bottom: 10vh;
    }
}
.flexBox_2_1{
    padding-left: 3vw;
    width: 85vw;
    border: 5px dashed rgb(202, 19, 235);
    display: flex;
    flex-direction: column;
    @media(max-width:$resize){
        padding-left: 2vw;
    }
    .text_2_1_1{
        font-size: 4rem;
        font-weight: bold;

    }
    .text_2_1_2{
        border: 5px dashed blue;
        padding-top: 2vh;
        //font-weight: 500;
        padding-right:15vw;
        text-align: left;
        font-size: 2rem;
        @media(max-width: $resize){
            text-align: left;
            position: inherit;
            padding-top: 0vh;
            width: auto;
            margin-left:4vw ;
            padding-right:5vw ;
        }
    }
}
.flexBox_2_2{
    
    
    border:5px dotted yellow;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    
    
    
}
.img_2_2_1{
    width: calc(#{$imgsize}*5);
    height: calc(#{$imgsize}*3);

}
.img_2_2_2{
}


/**********************************************************THIRD SECTION**********************************/

//THIRD SECTION
//STUDIO

.servicesThirdSection{
    background-image: url("../svg/logoOnlyYellow.svg");
    background-repeat: no-repeat!important;
    background-size: 215%;
    background-position-y: bottom!important;
    background-position: 60%;
    width: 100vw;
    height: auto;
    position: relative;
    border-style: solid;
    border-color: black;
    border-width: 2px;
}
.servicesThirdTitleBox{
    width: 100%;
    
}

.flexBox_3{
    padding-bottom: 30vh;
    padding-top: 8vh;
    border: 5px dashed green;
    display: flex;
    flex-direction: row;
    @media(max-width: $resize){
        flex-wrap: wrap-reverse;
        justify-content: right;
        padding-bottom:10vh ;
    }
}
.flexBox_3_1{
    padding-left: 3vw;
    width: 85vw;
    border: 5px dashed rgb(202, 19, 235);
    display: flex;
    flex-direction: column;
    .text_3_1_1{
        font-size: 4rem;
        font-weight: bold;

    }
    .text_3_1_2{
        border: 5px dashed blue;
        padding-top: 2vh;
        //font-weight: 500;
        padding-right:15vw;
        text-align: left;
        font-size: 2rem;
    }
}
.flexBox_3_2{
    
    
    border:5px dotted yellow;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    
    
}
.img_3_2_1{
    border:5px dotted rgb(51, 255, 0);
    width: calc(#{$imgsize}*2);
    height: $imgsize;
    @media(max-width: $resize){
       
    }

}
.img_3_2_2{
    //width: calc(#{$imgsize}*4);
    //height: calc(#{$imgsize}*3);
    @media(max-width: $resize){
        width: calc(#{$imgsize}*7);
        height: calc(#{$imgsize}*5);
    }
    
}
/*********************************************************FOURTH SECTION***********************************/
//FOURTH SECTION
//HYBRID
.servicesFourthSection{
    background-image: url("../svg/rotatedLogoOnlyBlue.svg");
    background-repeat: no-repeat!important;
    background-size: 225%;
    background-position-y: bottom!important;
    background-position: -20%;
    width: 100vw;
    height: auto;
    //position: relative;
    border-style: solid;
    border-color: black;
    border-width: 2px;

}


.servicesFourthTitleBox{
    width: 100%;
}

.flexBox_4{
    padding-bottom: 30vh;
    border: 5px dashed green;
    display: flex;
    flex-direction: row-reverse;
    @media(max-width: $resize){
        flex-wrap: wrap-reverse;
        padding-bottom: 10vh;
        justify-content: left;
    }
}
.flexBox_4_1{
    padding-top: 20vh;
    padding-left: 3vw;
    width: 85vw;
    border: 5px dashed rgb(202, 19, 235);
    display: flex;
    flex-direction: column;
    @media(max-width:$resize){
        padding-top:1vh;
    }
    .text_4_1_1{
        font-size: 4rem;
        font-weight: bold;
        color: black;
        font-weight: 500;

    }
    .text_4_1_2{
        border: 5px dashed blue;
        padding-top: 5vh;
        //font-weight: 500;
        padding-right:15vw;
        text-align: left;
        font-size: 2rem;
    }
}
.flexBox_4_2{
    top: -8vh;
    position: relative;
    width: 70vw;
    height: 80vh;
    border:5px dotted yellow;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    @media(max-width: $resize){
        position:inherit;
        height: auto;
        width: auto;
    }
    
    
}
.img_4_2_1{

}
.img_4_2_2{
   
    width: calc(#{$imgsize}*5);
    height: calc(#{$imgsize}*4);
    
    
}
//////////////////This clase will affect all the texts//////////////////
.textServicesPage{
    font-weight: 500;
}
/**************************RESPONSIVE MODE ATRIBUTES*****************************************/
////////These two classes will affect all the texts on the page//////////////
.titleServicesPage{
@media(max-width: $resize){
    font-size:3rem;
}
}
.textServicesPage{
        @media(max-width: $resize){
        font-size:2rem;
        
    }
}
/////////////////////////////////////////////////////////////////////



/************************************************************************************/
.news:hover{
    background: rgba(222, 184, 135, 0);
}

.news__item--1{
    //opacity: 0.5;
}


   



