$font: "Helvetica Neue, font-family: -apple-system, BlinkMacSystemFont, " Segoe
  UI ", Roboto, Oxygen,
Ubuntu, Cantarell, " Open Sans ", " Helvetica Neue
  ", sans-serif;";

//Colours
$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

//Margin and padding
$margin: 20px;
$padding: 40px;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: $font;
  font-size: 16px;
  overflow-x: hidden;
}

.wrapper {
  // max-width: 50vw;
}

//Navbar
.header {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100vw - #{$padding * 2});
    padding: $padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: grey;
    &__logo {
      width: 200px;
    }
    &__navigation {
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
    }
  }
}

//Hero screen
.hero {
  height: 100vh;
  background-color: grey;
  display: flex;
  justify-content: center;
  align-items: center;
  &__h1 {
  }
}

//Break sections
.break {
  padding: $padding 0 $padding 0;
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__h1 {
  }
  &__p {
    margin-top: $margin;
    max-width: 50%;
  }
}

//Services section
.services {
  width: 100vw;
  height: 100vh;
  background-color: lightpink;
}

//Showcase section
.showcase {
  width: 100vw;
  height: 100vh;
  background-color: lightseagreen;
}

//AV & Expo section
.expo {
  width: 100vw;
  height: 100vh;
  background-color: lightsteelblue;
}

//News section
.news {
  width: 100vw;
  height: 100vh;
  background-color: lightskyblue;
}

//Footer
.footer {
  width: 100vw;
  height: 30vh;
  background-color: white;
}
