@import url("https://use.typekit.net/fyr5ixs.css");

// $font: "graphie, Helvetica Neue, -apple-system, BlinkMacSystemFont,  Segoe
//   UI, Roboto, Oxygen,
// Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif";

// $font: "graphie, sans-serif";

//Colours
$white: #fff;
$black: #000;
$purple: #3a2742;

//Margin and padding
$margin: 20px;
$padding: 40px;

//Responsive
$mobile-width: 768px;
$tablet-width: 1024px;

* {
  margin: 0;
  padding: 0;
}

html,
body {
  // font-family: $font;
  font-family: graphie, -apple-system, Open Sans, sans-serif;
  font-size: 16px;
  overscroll-behavior-y: none;
  // overflow-x: hidden;
  line-height: 107.5%;
  letter-spacing: -0.075em;
}

.wrapper {
  // max-width: 50vw;
}

//Navbar
.header {
  &__container {
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - #{$padding * 2});
    padding: $padding;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $black;
    z-index: 10;
    &__logo {
      width: 200px;
    }
    &__navigation {
      width: 350px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      &:hover {
        color: darken(white, 20%);
      }
      @media (max-width: $tablet-width) {
        justify-content: flex-end;
        &__service-links {
          display: none;
        }
      }

      &__btn {
        width: 32px;
        height: 32px;
        background: none;
        border: none;
        cursor: pointer;
      }
    }
  }
}

//Hero screen
.hero {
  height: 100vh;
  background-color: $black;
  display: flex;
  justify-content: center;
  align-items: center;
  &__h1 {
    font-size: 4rem;
    color: $white;
  }
}

//Break sections
.break {
  padding: $padding 0 $padding 0;
  // background-color: lightblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  &__h1 {
    font-size: 2rem;
  }
  &__p {
    margin-top: $margin;
    max-width: 50%;
  }
}

//Services section
.services {
  width: 100%;
  height: 100vh;
  background-color: lightpink;
}

//Showcase section
.showcase {
  width: 100%;
  height: 100vh;
  background-color: lightseagreen;
}

//AV & Expo section
.expo {
  // position: relative;
  width: 100%;
  height: 100vh;
  background-color: lightsteelblue;
  display: flex;
  flex-direction: row;
  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
  &__container {
    position: relative;
    object-fit: cover;
    width: 50%;
    height: 100%;
    @media (max-width: $tablet-width) {
      width: 100%;
      height: 50%;
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
    }
    &__overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: $purple;
      opacity: 0.75;
      z-index: 2;
    }
    &__text {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 100%;
      z-index: 3;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
      &__logo {
        width: 450px;
      }
      &__p {
        color: $white;
      }
      &__btn {
        position: relative;
        background: none;
        border: none;
        width: 350px;
        height: 45px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: $white;
          z-index: 4;
          width: 100%;
          vertical-align: center;
          text-align: center;
          font-size: 0.85rem;
        }
      }
    }
  }
}

//News section
.news {
  width: 100%;
  height: 100vh;
  background-color: black;
  display: flex;
  flex-direction: row;
  @media (max-width: $tablet-width) {
    flex-direction: column;
  }
  &__item {
    width: calc(100% / 3);
    height: 100%;
    z-index: 2;
    position: relative;
    &:hover {
      cursor: pointer;
      .news__item__image {
        opacity: 0.5;
      }
    }
    &__image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      // cursor: pointer;
      opacity: 1;
      transition: opacity 0.2s ease-in-out;
    }
    &__text {
      position: absolute;
      width: 80%;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, 0%);
      z-index: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: $white;
      &__title {
        font-size: 2.5rem;
        font-weight: 400;
        line-height: normal;
        text-align: center;
      }
      &__date {
        margin-top: #{$margin * 4};
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.75;
      }
      img {
        margin-top: #{$margin * 4};
        cursor: pointer;
      }
    }
    // &--1 {
    //   background: red;
    // }
    // &--2 {
    //   background: green;
    // }
    // &--3 {
    //   background: blue;
    // }
    @media (max-width: $tablet-width) and (min-width: $mobile-width) {
      width: 100%;
      height: calc(100% / 3);
      &__text {
        // top: 25%;
        &__title {
          // font-size: 1.5rem;
        }
        &__date {
          // font-size: 0.75rem;
          margin-top: #{$margin * 2};
        }
        img {
          display: none;
        }
      }
    }
    @media (max-width: $mobile-width) {
      width: 100%;
      height: calc(100% / 3);
      &__text {
        // top: 25%;
        &__title {
          font-size: 1.5rem;
        }
        &__date {
          font-size: 0.75rem;
        }
        img {
          display: none;
        }
      }
    }
  }
}

//Footer
.footer {
  width: 100%;
  height: 30vh;
  background-color: white;
}
